<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Create Form</title>
    <!-- Add jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .toggle-label {
            margin-right: 1rem;
        }

        .toggle-button {
            display: none;
        }

        .round-toggle {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 25px;
            background-color: #ddd;
            border-radius: 25px;
            cursor: pointer;
        }

        .round-toggle .round-toggle-inner {
            position: absolute;
            content: "";
            height: 21px;
            width: 21px;
            background-color: white;
            border-radius: 50%;
            transition: transform 0.3s;
            left: 2px;
            top: 2px;
        }

        .toggle-button:checked + .round-toggle .round-toggle-inner {
            transform: translateX(25px);
            background-color: green;
        }

        #inventoryInput {
            margin-left: auto;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Product Create</h1>
        <form id="productForm">
            <div class="mb-3">
                <label for="productName" class="form-label">Product Name</label>
                <input type="text" class="form-control productName"  placeholder="Enter product name">
            </div>
            <div class="mb-3">
                <label for="productPrice" class="form-label">Price</label>
                <input type="number" class="form-control productPrice"   placeholder="Enter price">
            </div>
            <div class="mb-3">
                <label for="productSKU" class="form-label">SKU</label>
                <input type="text" class="form-control productSKU"   placeholder="Enter SKU">
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <textarea class="form-control productDescription"></textarea>
            </div>
            <div class="mb-3 toggle-container">
                <label for="toggleInventory" class="form-label toggle-label">Track Inventory</label></br>
                <input type="checkbox" class="toggle-button" id="toggleInventory">
                <label class="round-toggle" for="toggleInventory">
                    <span class="round-toggle-inner"></span>
                </label>
            </div>
            <div class="mb-3">
                <label for="inventoryType" class="form-label inventory">Status</label>
                <select class="form-control" id="inventoryType" style="width: 20%;">
                    <option value="inStock">In Stock</option>
                    <option value="outOfStock">Out of Stock</option>
                </select>
            </div>
            <div class="mb-3" id="inventoryInput" style="display:none;">
                <label for="inventoryNumber" class="form-label toggle-label">Inventory</label>
                <input type="number" class="form-control" id="inventoryNumber" style="width: 20%;">
            </div>
            <button type="submit" class="btn btn-primary" id="createproductBtn">Create Product</button>
        </form>
    </div>
    <!-- Include other scripts or styles if needed -->
    <%- include('../home'); %>
</body>
</html>
